openapi: 3.0.0
info:
  title: "KeukenTafelMeta API"
  description: "A web application for looking up Magic: The Gathering cards, make your own decklists and see decklists of friends."
  version: '3.0'

servers:
  - url: "https://www.keukentafelmeta.nl/api"
    description: "development server"

security:
  - bearerAuth: []

tags:
  - name: "user"
    description: "Operations about user"

paths:
  /user:
    post:
      tags:
        - "user"
      summary: "Create user"
      description: "Create a new account for an user with name, email, username and password."
      responses:
        "200":
          $ref: "#/components/responses/ok"
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
      requestBody:
        content:
          'application/json':
            schema:
              $ref: "#/components/schemas/User"
  /user/login:
    get:
      tags:
        - "user"
      summary: "Logs user into the system"
      description: ""
      parameters:
        - name: "username"
          in: "query"
          description: "The username for login"
          required: true
          schema:
            type: "string"
        - name: "password"
          in: "query"
          description: "The password for login in clear text"
          required: true
          schema:
            type: "string"
      responses:
        "201":
          $ref: "#/components/responses/created"
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"

components:
  schemas:
    User:
      type: object
      required:
        - "username"
        - "firstName"
        - "lastName"
        - "email"
        - "password"
      properties:
        username:
          type: "string"
        firstName:
          type: "string"
        lastName:
          type: "string"
        email:
          type: "string"
        password:
          type: "string"
  responses:
    ok:
      description: "Successful operation"
      content:
        application/json: {}
    created:
      description: "The request has succeeded and a new resource has been created"
      content:
        application/json: {}
    badRequest:
      description: "The server could not understand the request due to invalid syntax"
      content:
        application/json: {}
    unauthorized:
      description: "Access token is missing or invalid"
      content:
        application/json: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
        